<footer class="page-footer bg-color">
    <div class="container row center-align">
        <div class="col s12 m8 l8 copy-right">
          <span>COPYRIGHT 2018 DEEPSPACE. ALL RIGHTS RESERVED.</span>
          <!-- <span>鄂ICP备17006591号</span> -->
        </div>
        <div class="col s12 m4 l4 social-link"><%- partial('_partial/social-link') %></div>
    </div>
</footer>

<div class="progress-bar"></div>
